div.container{

    margin-top: 30px;
}


div.advertTitle{

    padding: 2em;
    background-size: cover;
    background-position: center;
}


div.advertTitle h1, div.advertTitle p{

    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

div.carousel-caption h5{
    color:#fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
div a{
    text-decoration: none !important; 
    color: rgb(82, 81, 81);
}

div a:hover{

    color: orange;
}

div.card{

    border-radius: 0px !important;
}
.avatar{
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}
.avatar-medium{
    max-width: 64px;
    max-height: 64px;
}
.avatar-mini{

    max-width: 24px;
    max-height: 24px;
}
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover{
    color: whitesmoke !important;
    background-color: lightsteelblue !important;
}
span.rating i{
    color: goldenrod;
}
a#lienNote{

    color: orange!important;
}
#monfooter{
    
    width:100%;
    bottom: 0;
    margin-bottom: 0 !important;

}

/*Media queries*/

@media(max-width:480px){

    #bienvenue{

        font-size: 24px;
    }
    #inscription{
        font-size: 21px;
        text-align: center;
    }
    #stars{

        font-size: 21px;
        text-align: center;
    }
    #voirAnnonces{
        align-self: center;
    }
    #proprioStars{
        font-size: 21px;
        text-align: center;
    }
    #indexh1{
        font-size: 21px;
        text-align: center;
    }
    #advertTitle{
        font-size: 24px;
    }
    #noComment, #comments, #resaAnnonce{
        font-size: 21px;
    }
    .note{
        font-size:18px;
    }
    .titreSubmit{
        font-size: 21px;
    }
    #userh1, #userh2{
        font-size: 21px;
        text-align: center;
        margin-top: 10px;
    }
    a.profil{
        margin: 10px;
    }
    #profil{
        text-align: center;
    }
    .info{
        font-size: 18px;
    }
    /* template modification pwd */
    #modifpwd{
        font-size: 18px;
        text-align: center;
    }
     /* template réservations */
    #resa{
        font-size: 21px;
        text-align: center;
    }
    #plusinfo{
        margin-bottom: 20px !important;
    }

}