{% extends 'base.html.twig' %}

{% block title%}
    Le  meilleur réseau de voitures entre particuliers
{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron mt-2">
        <h1 class="display-3">Bienvenue sur RentMyCar</h1>
            <img class="img-fluid w-25 mx-auto pb-2" src="images/voiture.png" alt="voiture jaune">
        <p class="lead float-right mr-3 mt-3">Vous n'avez pas toujours besoin de votre véhicule? Louez-le !</p>
        <hr class="my-4">
        <p>Vous avez le permis mais pas de voiture?  Vous voulez bénéficier d'un véhicule pour votre prochain déplacement ou pendant vos vacances?</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>
    <h2>Nos voitures stars</h2>
    <div class="row mt-4 mb-3">
        <div class="col-md-4">
            <div class="card mb-3 border-warning">
                <div class="card-header text-center">
                    <p class="card-text">Fiat Tipo <strong>5 Places</strong></p>
                    <small>Pas encore noté!</small>
                </div>
                    <img style="height: 200px; width: 100%; display: block;" src="http://placehold.it/1000x400">
                
                <div class="card-body">
                    <h4 class="card-title">Quasi-neuve!</h4>
                    <p class="card-texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nihil doloremque provident fugit quis saepe! Maiores provident explicabo accusamus optio.</p>
                    <a href="#" class="btn btn-primary">Voir le véhicule</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 border-warning">
                <div class="card-header text-center">
                    <p class="card-text">Fiat Tipo <strong>5 Places</strong></p>
                     <small>Pas encore noté!</small>
                </div>
                    <img style="height: 200px; width: 100%; display: block;" src="http://placehold.it/1000x400">
                
                <div class="card-body">
                    <h4 class="card-title">Quasi-neuve!</h4>
                    <p class="card-texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nihil doloremque provident fugit quis saepe! Maiores provident explicabo accusamus optio.</p>
                    <a href="#" class="btn btn-primary">Voir le véhicule</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 border-warning">
                <div class="card-header text-center">
                    <p class="card-text">Fiat Tipo <strong>5 Places</strong></p>
                     <small>Pas encore noté!</small>
                </div>
                    <img style="height: 200px; width: 100%; display: block;" src="http://placehold.it/1000x400" alt="véhicule à louer">
                                    
                <div class="card-body">
                    <h4 class="card-title">Quasi-neuve!</h4>
                    <p class="card-texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, nihil doloremque provident fugit quis saepe! Maiores provident explicabo accusamus optio.</p>
                    <a href="#" class="btn btn-primary">Voir le véhicule</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="mt-4 mb-3">Nos propriétaires stars</h2>
    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Alexis Montanoo</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatr d'Alexis Montanoo" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, neque?</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus!</a>
                    </div>
                </div>

            </div>
        </div>
   
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Alexis Montanoo</h4>
                    <hr>
                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatr d'Alexis Montanoo" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, neque?</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus!</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}