{% extends 'base.html.twig' %}

{% block title %}Création d'une annonce{% endblock %}

{% form_theme form 'advert/_collection.html.twig' %} {# <-- je dis à twig d'utiliser comme theme de formulaire pour le formulaire qui s'appelle form le theme qui est définidans ce fichier! #}

{% block body %}
    <div class="container">
    
        <h1>Créer une nouvelle annonce</h1>

        {{ form_start(form) }} 

        {{ form_widget(form) }}
        

        <input type="submit" class="btn btn-primary" value="Créer la nouvelle annonce">
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %} {# va me permettre de rajouter du js#}
    <script src="/js/annonces.js"></script>
{% endblock %}



